
.game {
    width: 70vw;
    height: 70vh;

    display: flex;
    flex-direction: column;

    margin: auto;
    margin-top: 10vh;

    border-style: solid;
    border-width: 10px;
    border-color: black;
    border-radius: 10px;
}

#actionPane {
    height: 10%;
    margin: auto;
}

#middlePane {
    height: 60%;
    
    display: flex;
}

#scoreBoard {
    height: 30%;
    
    background-color: black;

    display: flex;
}

#scoreBoard > * {
    margin: auto;
}

#resultLog {
    width: 20%;
    height: 70%;
    margin: auto;
    padding-left: 10px;

    border-style: groove;
    border-width: 6px;
    background-color: beige;

    overflow-y: scroll;
}

#field {
    width: 70%;
    height: 100%;
    margin: auto;
}

#homeScoreContainer {
    flex-basis: 12%;
    margin-right: 0;
    margin-left: 1%;
}

#homePenContainer {
    flex-basis: 2%;
    margin-left: 1%;
}

#quarterContainer {
    flex-basis: 5%;
}

#timeContainer {
    flex-basis: 15%;
}

#downContainer {
    flex-basis: 5%;
}

#awayPenContainer {
    flex-basis: 2%;
    margin-right: 1%;
}

#awayScoreContainer {
    flex-basis: 12%;
    margin-left: 0;
    margin-right: 1%;
}


.scoreLabel {
    color: white;
    margin: auto;
    text-align: center;
}

.digitDisplay {
    display: flex;
    justify-content: center;
    max-height: 100%;
    max-width: 100%;
}

.actionButton {
    margin: 5px;
    color: black;
}

.actionButton.ENABLED {
    --color: rgb(135, 113, 58);
    border-color: var(--color);
    background-color: var(--color);
}

.actionButton.DISABLED {
    --color: rgb(83, 83, 83);
    border-color: var(--color);
    background-color: var(--color);
}

.actionButton.PRESSED {
    --color: rgb(108, 122, 54);
    border-color: var(--color);
    background-color: var(--color);
}

.digitDisplay img {
    max-width: 100%;
}

.doubleDigitDisplay img {
    max-width: 50%;
}

