
@font-face {
    font-family: Armata-Regular;
    src: url("/public/fonts/Armata-Regular.otf");
}

body, html {
    height: 100%;
}

body {
    background-image: radial-gradient(
        rgba(168, 130, 15, 0.8) 45%,
        rgba(41, 23, 165, 0.8)
    ), url("/public/images/background.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: Armata-Regular;
    
    overflow-y: hidden;
}

#root, #app {
    width: 100%;
    height: 100%;
}

#game {
    width: 70%;
    height: 70%;

    background-color: aliceblue;

    display: flex;
    flex-direction: column;

    margin: auto;
    margin-top: 10vh;

    border-style: solid;
    border-width: 10px;
    border-color: black;
    border-radius: 10px;
}

#field {
    height: 90%;
    position: relative;
}


#gameCanvas {
    width: 100%;
    height: 100%;
    margin: auto;

    position: absolute;
    top: 0;
    left: 0;
}

#scoreBanner {
    background-color: rgb(243, 254, 201);
    border: 1px solid rgb(163, 171, 132);

    /* Position in parent */
    height: 5%;
    width: 70%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 5px;
    
    /* Layout for children */
    display: flex;
    justify-content: center;

    text-transform: uppercase;
}

#resultLog {
    position: absolute;
    width: 40%;
    height: 30%;
    right: 10%;
    top: 5%;

    padding-left: 10px;
    padding-right: 10px;

    background-color: rgba(61, 63, 36, 0.8);
    color: white;

    overflow-y: auto;
}

#actionPane {
    height: 10%;
    margin: auto;
}

.scoreContainer {
    /* Layout in parent */
    flex-basis: 35%;

    /* Layout of children */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.playerName {
    margin-left: 10px;
}

.playerScore {
    margin-right: 10px;
    font-size: 160%;
    font-weight: 700;
}

#awayScoreContainer {
    background-color: rgb(128, 196, 207);
    color: rgb(159, 54, 54);
}

#homeScoreContainer {
    background-color: rgb(207, 41, 41);
    color: rgb(241, 223, 74);
}

.possession {
    border: 2px solid white;
}

.penalties {
    width: 40%;
    height: 15%;
    position: absolute;

    left: 10px;
    bottom: 1px;

    display: flex;
    justify-content: space-between;
}

.penaltyMarker {
    background-color: yellow;
    width: 45%;
    height: 100%;
}

#timeContainer {
    flex-basis: 15%;

    background-color: grey;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 140%;
}

#quarterContainer {
    margin-left: 5px;

    display: flex;
}

.ordinalSuffix {
    font-size: 50%;
    align-self: baseline;
}

#clock {
    margin-right: 5px;
}

#downContainer {
    flex-basis: 15%;

    background-color: yellow;

    display: flex;
    align-items: center;
    justify-content: center;
}

#downSpacer {
    margin-left: 3px;
    margin-right: 3px;
}

.actionButton {
    margin: 5px;
    color: black;
}

.actionButton.ENABLED {
    --color: rgb(135, 113, 58);
    border-color: var(--color);
    background-color: var(--color);
}

.actionButton.DISABLED {
    --color: rgb(83, 83, 83);
    border-color: var(--color);
    background-color: var(--color);
}

.actionButton.PRESSED {
    --color: rgb(108, 122, 54);
    border-color: var(--color);
    background-color: var(--color);
}
