
.game {
    width: 70vw;
    height: 70vh;

    display: grid;
    grid-template: 
    "a s" 50%
    "r f" 50%
    / 1fr 1fr;

    margin: auto;
    margin-top: 10vh;

    border-style: solid;
    border-width: 10px;
    border-color: black;
    border-radius: 10px;
}

#resultLog {
    grid-area: r;
    width: 20%;
    height: 100%;
    margin: auto;
}

#field {
    grid-area: f;
    width: 70%;
    height: 100%;
    margin: auto;
}

#actionPane {
    grid-area: a;
    margin: auto;
}


.scoreLabel {
    color: white;
    margin: auto;
}

.digitDisplay {
    display: flex;
    height: 100%;
    /* max-width: 100%; */
    margin: auto;
    justify-content: center;
}

.actionButton {
    margin: 5px;
}

img {
    max-height: 100%;
}

#scoreBoard {
    /* The area of the main grid */
    grid-area: s; 

    height: 100%;
    
    background-color: black;
    
    display: grid;
    grid-template:
    "hd hd ad ad" 40%
    "hl hl al al" 10%
    "hpl hpd apl apd" 10%
    "qd td td dd" 30%
    "ql tl tl dl" 10%
    / 1fr 1fr 1fr 1fr;
}

#homeLabel {
    grid-area: hl;
    font-size: 2em;
}
#homeScore {
    grid-area: hd;
}
#homePenaltiesLabel {
    grid-area: hpl;
    margin-right: 5px;
}
#homePenalties {
    grid-area: hpd;
    margin-left: 5px;
}
#awayLabel {
    grid-area: al;
    font-size: 2em;
}
#awayScore {
    grid-area: ad;
}
#awayPenaltiesLabel {
    grid-area: apl;
    margin-right: 5px;
}
#awayPenalties {
    grid-area: apd;
    margin-left: 5px;
}
#quarterLabel {
    grid-area: ql;
}
#quarter {
    grid-area: qd;
}
#timerLabel {
    grid-area: tl;
}
#timer {
    grid-area: td;
}
#downLabel {
    grid-area: dl;
}
#down {
    grid-area: dd;
}
